/*-----------menu---------*/
.menu{
  position: relative;
  left: 900px;
  @media (--large){
    position: relative;
    left: 900px;
  }
  @media(--medium){
    position: relative;
    left: 530px;
  }
  @media (--small){
    position: none;
    left: 150px;
   }
  @media (--extra-small){
      display:none;
   }

}
.menu-item{
  display: flex;
  margin-right: 8em;
  justify-content: flex-start;
  @media(--medium){
    margin-right: 0;
  }

}

.menu-items{
  margin-left: 3em;
  list-style: none;

  & a{
    color: var(--lightColor);
    text-decoration: none;
    &:hover{
      border-bottom: 3px solid var(--fondoComplement);
    }
  }
}