@import './var.css';
@import './animaciones.css';
@import './iconos.css';
@import './footer.css';
@import './menu.css';

body{
  margin:0;
  font-family: 'Montserrat', system-iu;
  background:var(--fondoColor1);

}

.u-wrapper{
  max-width: 1000px;
  margin:auto;
  position: relative;
  width: auto;
}

.header{
  /*position: fixed;*/
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  /*background:var(--twoColor);*/

}

.logotipo{
  display: inline-block;
  align-items: center;
     @media (--small){
    display: flex;
    justify-content: center;
    align-content: center;

   }
}

.logo{
  margin:0;
}



.conoceme{

  color:var(--lightColor);
  height: 250px;
  position: relative;

}
.conoceme-i{
  font-size: 2em;
  margin: 0;
  @media (--small){
    display: flex;
    justify-content: center;
   }
}

.conoceme-item{
  line-height: 1;
  display: inline-block;
  @media (--small){
    display: flex;
    justify-content: center;
    position: relative;
  }
}

.conoceme-links{
  display: inline-block;
  position: absolute;
  top: 142px;
  @media (--small){
  position: absolute;
  top: 160px;
  left: 130px;
  }
}

.conoceme-link{
  margin-left: 10px;
  text-decoration: none;
  color:var(--lightColor);
  cursor: pointer;
  border:1px solid var(--lightColor);
  border-radius: 8px;
  padding: .5rem 2rem;
  &:hover{
    color:var(--fondoColor1);
    background:var(--fondoComplement);
  }
}

.conoceme-link:nth-of-type(1){
  margin-left: 80px;

}

.seccion{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:"origin . "
                      " idea form";
  /*grid-gap: 60px;*/
  /*background:var(--fondoComplement);*/
  background:var(--lightColor);
  justify-items:center;
  align-items: center;

  position: relative;
  padding: 80px 100px;
  @media (--small){
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "origin"
                         /*"idea"*/
                         "form";
  }
}

.origin{

  grid-area: origin;
  color:var(--darkColor);
/*      @media (--small){
      grid-area: origin;
      justify-content: center;
      align-content: center;
    }*/
  & a{
    display: flex;
    text-decoration: none;
    color:var(--darkColor);
  }
    @media (--small){
      grid-area: origin;
      text-align:center;
    }
}

.origin-contacto a{
  display: block;
  font-size: 1.2em;
  line-height: 1.5;

}


.idea{
  grid-area: idea;
  @media (--small){
    /*grid-area: idea;*/
    display: none;
  }
}

.idea-figure{
  margin:0;
  position: relative;
  overflow: hidden;
}


.idea-bombillo{
  animation-name: bombillo, rebote;
  animation-duration: 1s, 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  position: absolute;
  transform: translate(-209px, 344px);
  will-change: transform;
}



.form{
  grid-area: form;
  @media (--small){
    grid-area: form;
  }
}

.form-contacto{
  position: relative;
  display: grid;
}


.input{
  width: 450px;
  border: 1px solid var(--darkColor);
  font-family: 'Montserrat', system-iu;
  border-radius: 5px;
  padding: .5em .5em;
  &:focus{
    background: rgba(211, 211, 211, .5);
  }
}

.email, .tel{
  display: inline-block;
}

.email{
  width: 242px
}
.tel{
  position: absolute;
  width: 173px;
  top:102px;
  right: 0px;
}

.tel-label{
  position: absolute;
  top:67px;
  right: 121px;
}

.label{
  color:var(--darkColor);
  margin-top: 7px;
  margin-bottom: 7px;
}

.hr{
  position: relative;
  right: 53px;
  width: 80%;
  color:var(--darkColor);
  @media (--small){
    right: 4px;
    width: 100%;
  }
}

.btn{
  @apply --btn;
}

.origin-title{
    margin:0;
  @media (--small){
    margin:0;
  }
}

.origin-contacto{
 & a{
  display: inline-block;
/*  font-size: 1.3em;*/
 }
 & span{
  display: inline-block;
/*  font-size: .8em;*/
 }
}

