@import './var.css';


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qyn00g');
  src:  url('../fonts/icomoon.eot?qyn00g#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qyn00g') format('truetype'),
    url('../fonts/icomoon.woff?qyn00g') format('woff'),
    url('../fonts/icomoon.svg?qyn00g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github-square:before {
  content: "\e900";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}

body{
  margin:0;
  font-family: 'Montserrat', system-iu;
  background:var(--fondoColor1);

}

.u-wrapper{
  max-width: 1000px;
  margin:auto;
  position: relative;
  width: auto;
}

.header{
  /*position: fixed;*/
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  /*background:var(--twoColor);*/

}

.logotipo{
  display: inline-block;
  align-items: center;
  margin-left: 20px;
}

.logo{
  margin:0;
}

.menu-item{
  display: flex;
  margin-right: 8em;

}

.menu-items{
  margin-left: 3em;
  list-style: none;

  & a{
    color: var(--lightColor);
    text-decoration: none;
    &:hover{
      border-bottom: 3px solid var(--fondoComplement);
    }
  }
}

.conoceme{

  color:var(--lightColor);
  height: 250px;
  position: relative;
  /*top:50px;*/
}
.conoceme-i{
  /*font-family: 'Niconne', cursive;*/
  font-size: 2.2em;
  margin: 0;
  /*padding-bottom: .8em;*/
}

.conoceme-item{
  line-height: 2;
  display: inline-block;
}

.conoceme-links{
  display: inline-block;
  position: absolute;
  top: 120px;
}

.conoceme-link{
  margin-left: 10px;
  text-decoration: none;
  color:var(--lightColor);
  cursor: pointer;
  border:1px solid var(--lightColor);
  border-radius: 8px;
  padding: .5rem 2rem;
  &:hover{
    color:var(--fondoColor1);
    background:var(--fondoComplement);
  }
}

.conoceme-link:nth-of-type(1){
  margin-left: 80px;

}

.seccion{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:1fr;
  grid-template-areas:"origin form";
  grid-gap: 60px;
  /*background:var(--fondoComplement);*/
  background:var(--lightColor);

  position: relative;
  padding: 80px 100px;
}

.origin{
  grid-area: origin;
  color:var(--darkColor);
  & a{
    display: flex;
    text-decoration: none;
    color:var(--darkColor);

  }
}

.form{
  grid-area: form;
}

.form-contacto{
  display: grid;
}

.input{
  width: 450px;
  border: 1px solid var(--darkColor);
  font-family: 'Montserrat', system-iu;
  border-radius: 5px;
  padding: .5em .5em;
  &:focus{
    background: rgba(211, 211, 211, .5);
  }
}

.email, .tel{
  display: inline-block;
}

.email{
  width: 242px
}
.tel, .tel-label{
  position: absolute;
  width: 173px;
  top:182px;
  right: 214px;
}

.tel-label{
  top:147px;
  right: 229px;
}




.label{
  color:var(--darkColor);
  margin-top: 7px;
  margin-bottom: 7px;
}

.hr{
  position: relative;
  right: 53px;
  width: 80%;
  color:var(--darkColor);
}

.btn{
  @apply --btn;
}

.origin-title-contacto{
 & a{
  display: inline-block;
/*  font-size: 1.3em;*/
 }
 & span{
  display: inline-block;
/*  font-size: .8em;*/
 }
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  color:var(--lightColor);
}

.redes-social{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  & img{
    width: 40px;
  }
}

.derechos{
  display: flex;
  justify-content: space-around;
  display: block;
  & h3{
  margin:0;
  &:before{
    color:var(--lightColor);
    content:"©";
   }
  }
}