/*-------variables-----------*/

:root {
  /*----colores----*/
  --darkColor: #15192a;
  --lightColor: white;
  --warningColor: red;
  --warningColor2:#C42510C4;
   --greenLogo:#007474;

  /*boton*/
  --button: {
    border: 1px solid var(--lightColor);
    border-radius: 5px;
    background: var(--darckColor);
    color: var(--lightColor);
    padding: .5em 2em;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 5px solid var(--lightColor)
  };
  }

  /*selectores*/

  @custom