/*-------variables-----------*/

:root {
  /*----colores----*/
  --darkColor: #15192a;
  --lightColor: white;
  --warningColor: red;
  --warningColor2:#C42510C4;
  --greenLogo:#007474;
  --fondoColor:#2E56EAA3;
  --fondoColor1:#093140;
  --fondoComplement: #B2630D;
  --twoColor: linear-gradient(to right top, rgba(21,25,42, 0.8), rgba(102, 107, 127, 0.8));


  /*boton*/
  --button: {
    border: 1px solid var(--lightColor);
    border-radius: 5px;
    background: var(--darckColor);
    color: var(--lightColor);
    padding: .5em 2em;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 5px solid var(--lightColor)
  };
  }

  /*selectores*/

